aiohttp
requests-cache
retry-requests
apache-airflow-client
cryptography
fastapi
flatten-json
httptools
joblib
jupyter_client
jupyter_core
numpy
openmeteo_requests
openmeteo_sdk
pandas
pydantic
pymongo
PyMySQL
python-dotenv
requests
scikit-learn
SQLAlchemy