apiVersion: v1
kind: PersistentVolume
metadata:
  name: airflow-pv-logs-{{ .Release.Namespace }}
  labels:
    type: local
spec:
  capacity:
    storage: 1Gi
  accessModes:
  - ReadWriteOnce
  hostPath:
    path: /mnt/data/airflow/logs-{{ .Release.Namespace }}
