# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/




        # env:
        # - name: POSTGRES_HOST
        #   value: {{ .Values.fastapi.env.host }}
        # - name: POSTGRES_USER
        #   value: {{ .Values.fastapi.env.user }}
        # - name: POSTGRES_PASSWORD
        #   value: {{ .Values.fastapi.env.password }}
        # - name: POSTGRES_DB
        #   value: {{ .Values.fastapi.env.dbName }}
